*{
	margin: 0;
	padding: 0;
	box-sizing:border-box;
}
body{
	font-size: 62.5%;
	font-family:"微软雅黑";
	overflow:-Scroll;
	overflow-x:hidden;
}
.clearfix:before,
.clearfix:after{
	content: " "; 
	display: table;
	clear: both;
}
a{
	text-decoration: none;
}

input,button,select,textarea{outline:none}
textarea{resize:none}

article a{
	color: black;
}
ul li{
	list-style: none;
}
/**********header***********/
header{
	height: 3.0625rem;
	width: 100%;
	background-color: #0B7138;
	position: fixed;
	z-index: 99;
}
header .button{
	background-color: #19264A;
	width: 3.0625rem;
	height: 3.0625rem;
	position: relative;
	padding: 0 .5rem;
	display: table-cell;
	vertical-align:middle;
}
header .button img{
	width: 100%;
	vertical-align:middle;
}




nav .menu{
	position: fixed;
	top: 3.0625rem;
	z-index: 99;
}
nav .menu_li{
	width: 6.25rem;
	height: 1.875rem;
	background-color: #4D4D4D;
	font-size: 1.4em;
	border-bottom: 2px solid black;
	line-height: 1.8125rem;
	text-align: center;
}
nav .menu_li:nth-child(22){
	border: none;
}

nav a{
	color: white;
}

.menu_hide{
	display: none;
}

nav .menu_2{
	width: 6.25rem;
	height: 1.875rem;
	background-color: #737373;
	font-size: 1.2em;
	line-height: 1.8125rem;
	text-align: center;
	border-bottom: 1px solid black;
}


header .top{
	position: absolute;
	top: 0;
	left: 50%;
	margin-left: -8.4375rem;
}
@media(min-width: 0px){
	header .top{
		margin-left: -4.4375rem;
	}
	header .top .word img{
		margin-top: 1rem;
	}
}
@media(min-width: 320px){
	header .top{
		margin-left: -5.4375rem;
	}
	header .top .word img{
		margin-top: 1rem;
	}
}
@media(min-width: 360px){
	header .top{
	margin-left: -6.4375rem;
	}
}
@media(min-width: 414px){
	header .top{
	margin-left: -7.4375rem;
	}
}
@media(min-width: 600px){
	header .top{
	margin-left: -9.4375rem;
	}
	header .top .word img{
		margin-top: .7rem;
	}
}




header .top .logo img{
	width: 2.46875rem;
	float: left;
	margin-top: .25rem;
	margin-left: 5%;
}
header .top .word img{
	float: left;
	width: 60%;
/*	margin-top: .9rem;*/
	margin-left: .6rem;
}


/**********header-end***********/

main{
	width: 100%;
	height: 100%;
	padding: 3.0625rem 0 3.0625rem;
}


/***************aside-start*****************/
.bottom_bar{
	width: 100%;
	height: 3.0625rem;
	background-color: #0B7138;
	position: fixed;
	bottom: 0;
	z-index: 99;
}
.bottom_bar ul{
	height: 100%;
}
.bottom_bar ul li{
	height: 100%;
	width: 33.155555%;
	border-right: 1px solid #004d24;
	float: left;
	padding: .3rem 0 .6rem;
	text-align: center;
	color: #dedfe0;
}
.bottom_bar ul a{
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-tap-highlight-color: transparent; /* For some Androids */
}
.bottom_bar ul li:nth-child(3){
	border: none;
}
.bottom_bar ul li img{
	height: 100%;
	margin: 0 auto;
	display: block;
}

.bottom_bar .fa{
	width: 100%;
	margin-bottom: .4rem;
}

/***************aside-end*****************/



/*****************aside 侧边导航**********************/

.class_theme.show{
	left: 0;
}
.class_theme{
	position: fixed;
	top: 50%;
	margin-top: -11rem;
	transition:all 1s ease; 
	left: -16rem;
}
.class_theme_button{
	width: 2.5rem;
	height: 9rem;
	background-color: #72c2fd;
	top: 50%;
	margin-top: -4rem;
	left: 16rem;
	position: absolute;
	
}
.theme_button{
	width: 1.5rem;
	font-size:2em;
	color: white;
	display: block;
	margin: .5rem auto 0;	
	line-height: 1em;
}
.theme_hand{
	color: white;
	text-align: center;
	margin-top: 1rem;
	width: 100%;
}
.class_nav{
	width: 16rem;
	height: 22rem;
	background-color: #72c2fd;
}
@media(min-width: 480px) and (max-width: 760px){
	.class_nav{
		height: 13.75rem;
	}
	.class_theme{
		margin-top: -6.875rem;
	}
}
.class_nav{
	padding: 1rem;
	overflow-y:scroll;

}
.class_nav ul li{
	border-bottom: 1px dashed white;
	text-align: center;
	font-size: 1rem;
	height: 1.8rem;
	line-height: 1.8rem;
}
.class_nav ul li:last-child{
	border: none;
}
.class_nav ul li a{
	color: white;
}